.title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    text-decoration: none;
}

.navLink:hover {
    color: light-dark(var(--mantine-color-dark-6), var(--mantine-color-dark-1));
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}